*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.mobileBox{
    position: relative;
}

.telefoon{
    position: relative;
    width: 395px;
    height: 790px;
    background-color: #fff;
    border: 2px solid rgba(0,0,0,0.3);
    border-radius: 30px;
    box-shadow: inset 0 0 8px rgba(0,0,0,.3);
}

.scherm{
    position: relative;
    background-color: #262626;
    width: 375px;
    height: 666.5px;
    margin: 58px auto;
    overflow: hidden;
}


.homeBtn{
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

.homeBtn > div{
    width: 40px;
    height: 40px;
    background-color: #fff;
    box-shadow: inset 0 0 7px rgba(0,0,0,0.1);
    border: 2px solid #cecece;
    border-radius: 50%;
}

.camera{
    position: absolute;
    top: 32px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 4px;
    background-color: #262626;
    border-radius: 2px;
}

.camera:before{
    content:'';
    position: absolute;
    top: -2px;
    left: -22px;
    width: 8px;
    height: 8px;
    background-color: #262626;
    border-radius: 50%;
}

.camera:after{
    content:'';
    position: absolute;
    top: -16px;
    left: 50%;
    transform: translateX(-50%);
    width: 6px;
    height: 6px;
    background-color: #262626;
    border-radius: 50%;
}

.volumeBtn{
    position: absolute;
    top: 90px;
    left: -4px;
}

.volumeBtn li{
    list-style: none;
    width: 2px;
    height: 30px;
    background-color: #ccc;
    margin: 10px 0;
    border-radius:4px 0 0 4px;
}

.stilBtn{
    position: absolute;
    top: 50px;
    left: -4px;
}

.stilBtn li{
    list-style: none;
    width: 2px;
    height: 20px;
    background-color: #ccc;
    margin: 10px 0;
    border-radius:4px 0 0 4px;
}

.uitBtn{
    position: absolute;
    top: 90px;
    right: -4px;
}

.uitBtn li{
    list-style: none;
    width: 2px;
    height: 30px;
    background-color: #ccc;
    margin: 10px 0;
    border-radius:0px 4px 4px 0px;
}

iframe{
    width: 100%;
    height: 100%;
}